@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html, body {
    height: 100%;
    width: 100%;
}
.main{
    position:relative;

}
/* #background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index:9;
}
.landing-text{
    position:relative;
    z-index:10;
    color:white;
    padding:1vw 1vw;
    margin-top:400px;

}
.landing-text h1{
    display:inline-block;
    font-size:4.5vw;
}
.landing-text h3{
    font-size: 1.5vw;
    width: 50%;
    line-height: 1.5vw;
    position: relative; /* Add this line */
   
}
.icon-tray {
    position: relative;
    display: flex;
    gap: 2vw;
    z-index: 10;
    padding:1vw 3vw;
    
}
.icon-tray a{
    text-decoration:none;
    color:white;
}
.footer{
    postion:fixed;
} */